* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

.header {
    vertical-align: middle;
    height: 80px;
    text-align: justify;
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #eee;
}

.logout {
    display: inline-block;
    position: absolute  ;
    right: 0px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
    text-align: right;
    background-color: #eee
}

.welcome {
    display: block;
    margin-top: 20px;
    height: 30px;
    text-align: center;
    position: fixed;
    background-color: #eee;
    color: black;
    width: 100%;

}

.menu {
    position: fixed;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.menu a {
    border: 1px;
    border-radius: 3%;
    margin-left: 10px;
    margin-right: 10px;
}